################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BoatTrackerBot/bin
/src/BoatTrackerBot/obj/Debug
/src/BoatTrackerBot/packages
*.suo
/src/Common/BookedScheduler/bin/Debug
/src/Common/BookedScheduler/obj/Debug
/src/BoatTrackerBot/obj/Release
/src/Common/BookedScheduler/bin/Release
/src/Common/BookedScheduler/obj/Release
/src/BoatTrackerBot/ClubConfiguration.json
