################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BoatTrackerBot/bin
/src/BoatTrackerBot/obj/Debug
/src/BoatTrackerBot/packages
*.suo
/src/Common/BookedScheduler/bin/Debug
/src/Common/BookedScheduler/obj/Debug
/src/BoatTrackerBot/obj/Release
/src/Common/BookedScheduler/bin/Release
/src/Common/BookedScheduler/obj/Release
/src/BoatTrackerBot/ClubConfiguration.json
/src/BoatTrackerWebJob/bin/Debug
/src/BoatTrackerWebJob/obj/Debug
/src/BoatTrackerWebJob/BoatTrackerWebJob.csproj.user
/src/BoatTrackerWebJob/Properties/PublishProfiles/BoatTrackerBot - Web Deploy.pubxml.user
/src/Common/BoatTrackerBot.Configuration/bin/Debug
/src/Common/BoatTrackerBot.Configuration/obj/Debug
/src/BoatTrackerWebJob/bin/Release
/src/BoatTrackerWebJob/obj/Release
/src/Common/BoatTrackerBot.Configuration/bin/Release
/src/Common/BoatTrackerBot.Configuration/obj/Release
/src/BoatTrackerWebJob/Properties/PublishProfiles/BoatTrackerBot-prod - Web Deploy.pubxml.user
/src/BoatTrackerWebJob/bin
/src/BoatTrackerWebJob/obj
/src/Common/BoatTrackerBot.Configuration/bin
/src/Common/BoatTrackerBot.Configuration/obj
/src/BoatTrackerBot/ClubConfiguration.json~
/src/Common/BoatTrackerBot.BookedScheduler/bin/Debug
/src/Common/BoatTrackerBot.BookedScheduler/obj/Debug
/src/Common/BoatTrackerBot.BookedScheduler/bin/Release
/src/Common/BoatTrackerBot.BookedScheduler/obj/Release
*.Cache
/src/BoatTrackerBot.Tests/bin/Debug
/src/BoatTrackerBot.Tests/obj/Debug
/src/BoatTrackerBot.Tests/BoatTrackerBotTests.runsettings
/src/BoatTrackerBot.Tests/bin/Release
/src/BoatTrackerBot.Tests/obj/Release
