<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <!-- update these with your values-->
    <Parameter name="MicrosoftAppId" value="ec7ae408-fbad-48db-8a74-e98cdef9b7e3" />
    <Parameter name="DirectLineToken" value="bOtTO0hexjM.cwA.5oo.anNPBHjPlTajLC21p9x1yGldd01XlAtjcnxY_Uf-Ypg" />
    <Parameter name="FromUser" value="test-user" />
    <Parameter name="BotId" value="boattrackerdev" />
    -->
  </TestRunParameters>
</RunSettings>